/*Navbar*/
.nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: rgb(33, 183, 60);
    margin: 5px 10px 5px 10px;
}