footer{
    background-color: rgb(33, 183, 60);
    padding: 50px 0px 50px 0px;
    .left{ 
        margin: auto;
        text-align: center;
        color: white;
        width: fit-content;
    }
}
