#workshops{
  font-size: 1.25rem;
  background-color: rgb(33, 183, 60);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
#workshops img{
  height: 350px;
  width: 60vw;
  background-color: grey;
}
#workshops .column{
  width: 20vw;
  margin-left: 40px;
  align-self: center;
  color: white;
}
#workshops .column button{
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border: white 3px solid;
  cursor: pointer;
  color: white;
}